.header{
    min-height: 100px;
    font-size: 0;
    margin: 10px 15px;
}

.header-wrapper {
    border-bottom:2px solid #7d97ad;
}

.header-left, .header-right {
    width: 50%;
    height: 100%;
    display: inline-block;
    box-sizing: border-box;
    font-size: 16px;
    vertical-align: top;
    margin: 0;
}

.header-left .logo {
    min-height: 100px;
}

.header i {
    font-size: 8vw;
    color: #02b3e4
}

.header-right {
    text-align: right;
    font-family: 'Montserrat', sans-serif;
}

section .intro {
    width:90%;
    margin: 20px auto;
}

figure.hero {
    background: no-repeat  100%/100% url('../images/coding.jpg');
    min-height: 300px;
    width: 100%;
    position: relative;
    background-size: cover;
}
figure.hero .overlay {
    background: linear-gradient(90deg, rgba(255, 240, 255, .2), rgba(2, 179, 228,.5));
    height: 300px;
    width: 100%;
    position: absolute;
}

figure.hero figcaption {
    position: absolute;
    top: 33%;
    left: 25%;
    font-size: xx-large;
    color: white;
    text-shadow: 1px 2px #000;
}

