html,
body {
    font-family: "Montserrat", sans-serif;
    height: auto;
    min-height: 1475px;
}
/* Start  Header */
.header-wrapper {
    min-height: 100px;
    margin: 10px 0;
    font-size: 0; /*Account for html inline white space*/
}

.header-frame {
    border-bottom: 3px solid #7d97ad;
    padding: 25px 0;
    width: 100%;
}

.header-left,
.header-right {
    width: 50%;
    height: 100%;
    display: inline-block;
    box-sizing: border-box;
    font-size: 16px;
    vertical-align: top;
    margin: 0;
}

.header-left .logo {
    min-height: 100px;
    padding-left: 0;
}

.header-wrapper i {
    font-size: 5vw;
    color: #02b3e4
}

.header-right {
    text-align: right;
    padding-right: 0;
}

.header-right h1 {
    font-size: 3.2rem;
}
/* End Header */

/* Start Main Section */
main {
    max-width: 1280px;
}

.top .intro,
.bottom .showcase {
    width: 90%;
    margin: 20px auto;
}

.hero,
.hero .overlay {
    height: 450px;
    width: 100%;
}

.hero {
    background: no-repeat 100%/100% url('../images/coding.jpg');
    position: relative;
    background-size: cover;
}

.hero .overlay {
    background: linear-gradient(90deg, rgba(255, 240, 255, .2), rgba(2, 179, 228, .5));
    position: absolute;
}

.hero figcaption {
    position: absolute;
    top: 33%;
    left: 25%;
    font-size: xx-large;
    color: white;
    text-shadow: 1px 2px #000;
}

.bottom {
    color: #7d97ad;
}

.card {
    display: inline-block;
    width: 31%;
    min-width: 340px;
    background-color: white;
    border: none;
    text-align: center;
    vertical-align: top;
    margin-right: 33px;
}

.card:last-child {
    margin-right: 0;
}

.card .frontwise {
    min-height: 232px;
}

.card .project-title {
    color: #2d3c46;
    font-weight: bolder;
}

.card .project-title p {
    font-size: 12px;
}

.card a {
    display: inline-block;
    text-decoration: none;
    color: #2d3c46;
}

.card header img {
    max-height: 400px;
    width: 100%;
}

.card header img.standard {
    display: none;
}

.card header img.wide {
    height: 232px
}

.card footer {
    background: initial;
}

/* End Main Section */

/* Start Footer */
footer {
    height: auto;
    width: 100%;
    background: #2d3c49;
    color: white;
}

.social {
    text-align: center;
}

.social-link {
    text-decoration: none;
    display: inline-block;
    padding: 30px 20px;
    margin-right: 40px;
    color: #02b3e4;
}
/* End Footer */

/* Start Responsive */
@media only screen and (min-width: 1246px) {
    footer {
        position: fixed;
        bottom: 0;
        padding: 0 20px;
        height: 80px;
    }
    .social figcaption {
        display: none;
    }
    .card footer {
        position: static;
    }
}

@media only screen and (max-width: 1245px) {
    .bottom .showcase {
        text-align: center;
    }
    .header-wrapper i {
        font-size: 8vw;
    }
}

/* Tablet View */
@media only screen and (max-width: 991px) {
    .header-wrapper {
        border-bottom: 2px solid #7d97ad;
    }
    .header-wrapper i {
        font-size: 10vw;
    }
    .header-frame {
        border: none;
        padding-bottom: 10px;
    }
    .header-right h1 {
        font-size: 2.0rem;
        text-align: right;
    }
    .hero,
    .hero .overlay {
        height: 300px;
    }
    .card {
        width: 100%;
        max-width: inherit;
        min-height: 280px;
        margin-bottom: 15px;
        background-color: aliceblue;
        border-width: 1px;
        padding-top: 25px;
    }
    .card .frontwise,
    .card .sidewise {
        width: 48%;
        display: inline-block;
        vertical-align: top;
    }
}

@media only screen and (min-width: 769px) and (max-width: 991px) {
    main {
        max-width: 991px;
    }
    .card header a {
        width: 100%;
    }
    .card header img {
        width: 100%;
        min-height: 215px;
    }
}

@media only screen and (max-width: 768px) {
    main {
        max-width: 768px;
    }
    .card a {
        display: inline-block;
    }
    .card header img.standard {
        display: block;
        width: 100%;
    }
    .card header img.wide {
        display: none;
    }
}

@media only screen and (min-width: 576px) and (max-width: 768px) {
    .card header {
        display: inline-block;
    }
    .card footer a {
        display: inline;
    }
}

/*responsive mobile view */
@media only screen and (max-width: 575px) {
    .header-right {
        width: 75%;
    }
    .header-left {
        width: 25%;
        padding-left: 5px;
        padding-top: 1px;
    }
    .card {
        padding-top: 0;
        min-width: inherit;
    }
    .card .frontwise,
    .card .sidewise {
        padding: 5px;
        width: 100%
    }
    .card a {
        display: inline;
    }
    .bottom .showcase {
        text-align: center;
    }
    .social-link:last-child {
        margin-right: 0;
    }
}

@media only screen and (max-width: 378px) {
    .header-wrapper i {
        font-size: 12vw;
    }

    .header-right h1 {
        font-size: x-large;
    }
    
    .header-right h5 {
        font-size: large;
    }
    
    .card {
        width: 100%;
        display: block;
    }

    .social-link {
        margin: 0;
    }

}
/* End Responsive */